$footer-bg: rgb(211, 216, 212);
$footer-shadow: rgb(172, 171, 171);

footer {
    background-color: $footer-bg;
    box-shadow: 0 -2px 7px $footer-shadow;
    text-align: center;
    vertical-align: middle;
    height: 70px;
    margin-top: 30px;

    p {
        line-height: 70px;
        color: black;
        margin: 0;
    }
}