@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "nav";
@import "cards";
@import "search";
@import "footer";

@import "candidateInfo";

body {
    font-family: 'Roboto', sans-serif;
}

#wrapper {
    min-height: calc(100vh - 100px);
    box-sizing: border-box;
}